body {
    display: flex;
    justify-content: center;
    background-color: #EEEEEE;
}

h2 {
    align-self: center;
    color: #009688;
}

.container {
    width: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.time {
    padding: 8px;
    margin: 8px;
}

.button {
    background-color: #009688;
    color: #F5F5F5;
    padding: 8px;
    margin: 8px;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

    transition: background-color .3s;
}

.box {
    padding: 16px;
    margin: 8px;
}